---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <!-- TOC HIDE SHOW START -->
  <script>
    document.addEventListener("DOMContentLoaded", function(t) {
      var i = document.querySelector("#markdown-toc");
      function d() {
          var t = document.documentElement.clientWidth / 2 - 520 - i.offsetWidth;
          t < 15 ? i.style.visibility = "hidden" : (i.style.visibility = "visible",
          i.style.left = t + "px")
      }

      if (i) {
        window.addEventListener("resize", d, !1);
        d();
      }
    });
   

  </script>
 <!-- TOC HIDE SHOW END -->

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%H:%M %b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>
  
  <!-- // TODO: TOC -->
  
  {% if page.categories %}
    <p class="post-tags">  
      <code class="categories">{{ page.categories }}</code>
      {% for tag in page.tags %}
        <code class="tags">{{ tag }}</code>
      {% endfor %}
    </p>
  {% endif %}
 
  
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
<div id="container"></div>
<script>
  // const date = {{ page.date  }};
//  const id = document.getElementsByTagName("title")[0].innerText;
//  console.log(id);
 var id  = window.location.pathname;
 ids = id.split('/');
 id = ids[ids.length - 1];
 console.log(id);
 const gitment = new Gitment({
        id: id, // optional
        owner: 'AwayQu',
        repo: 'awayqu.github.io',
        oauth: {
          client_id: 'cdbc5d637fa49cc2c6e0',
          client_secret: '99d673ad327749de19a1b591a2a61958150eb3c5',
        },
    // ...
    // For more available options, check out the documentation below
    })

    gitment.render('container')
</script>
